:root {
  --orange: #ff7a00;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 1.7;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

a,
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
}

.container {
  padding-left: 190px;
  padding-right: 190px;
}

.hero__wrap {
  width: 100%;
  height: 100vh;

  display: grid;
  align-content: center;
  justify-content: center;
  background: url("/img/banner_bg.jpg");
  background-size: cover;
  color: white;
}

.hero__wrap h1 {
  margin-bottom: 30px;
  width: 66%;
}

.hero__wrap p {
  width: 50%;
  margin-bottom: 30px;
}

.hero__btn {
  width: 230px;
  height: 55px;
  text-transform: uppercase;
  color: white;
  background-color: var(--orange);
  font-weight: 700;
  font-size: inherit;
  border-radius: 27.5px;

  transition: all 0.4s ease;
}

.hero__btn:focus,
.hero__btn:hover {
  background-color: white;
  color: var(--orange);
}

.companies__wrap {
  margin-top: 120px;
}

.companies__area {
  margin-top: 60px;
}

.companies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 30px;
}

.companies__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px;
  height: 97px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  transition: all 0.5s ease;
}

.companies__item:hover,
.companies__item:focus {
  text-decoration: underline;
  color: var(--orange);
  border-color: var(--orange);
  transform: scale(1.1);
}

.companies__btn {
  background-color: var(--orange);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 27px;
  padding: 17px;
  line-height: 0.6;
  color: white;
}
.company__name {
  width: 100%;
  padding-left: 15px;
}

.war_info__text {
  margin-top: 120px;
}

.war_info__text p {
  padding: 15px 0;
}

.war_info__slider {
  width: 100%;
  height: 100%;
}

.war_info__slider .swiper-slide {
  height: 385px;
}

.war_info__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1420px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .companies__item {
    padding: 15px;
    height: 80px;
  }

  .companies__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .companies__wrap,
  .war_info__text {
    margin-top: 60px;
  }

  .companies__area {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }

  h1 {
    font-size: 28px;
  }

  .hero__wrap h1 {
    width: 100%;
  }

  .hero__wrap p {
    width: 80%;
  }

  .war_info__slider .swiper-slide {
    height: 255px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  h1 {
    font-size: 24px;
  }

  .hero__wrap h1 {
    margin-bottom: 20px;
  }

  .hero__wrap p {
    width: 100%;
    margin-bottom: 20px 0;
  }

  .hero__btn {
    height: 45px;
  }

  .companies__list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
